---
import { Icon } from "astro-icon/components";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../../consts";
import { getCollection } from "astro:content";

// 获取全量 tags
const allPosts = await getCollection("blog");
const allTags = [
  ...new Set(allPosts.map((post) => post.data.tags || []).flat()),
];
---

<BaseLayout
  title={`标签 | ${SITE_TITLE}`}
  description={SITE_DESCRIPTION}
  isPost={true}
>
  <!-- Banner内容 - Tags列表 -->
  <ul slot="banner-content" class="tags-container">
    {
      allTags.map((t) => (
        <li class="item">
          <a href={`/tags/${t}`}>
            <Icon name="ph:tag-fill" class="tag-icon" /> {t}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>

<style lang="less">
  .tags-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 16px;
    background-color: var(--infobox-background-initial);
    border-radius: 32px;
    border: solid 2px var(--foreground-color);
    backdrop-filter: var(--blur-val);
    width: calc(100% - 48px); // 两侧各留 24px
    max-width: 768px;
    z-index: 100;
    list-style: none;
    margin: 0;

    li {
      margin: 8px;

      a {
        color: var(--font-color-grey);
        padding: 3px 5px;
        color: var(--font-color-gold);
        background-color: var(--btn-background);
        border-radius: 5px;
        transition: background-color 0.5s;
        text-decoration: none;
        display: inline-flex;
        align-items: center;
        gap: 4px;

        &:hover {
          background-color: var(--btn-hover);
        }

        .tag-icon {
          width: 16px;
          height: 16px;
          vertical-align: middle;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .tags-container {
      width: calc(100% - 24px);
      li {
        margin: 4px;
        a {
          font-size: 12px;
          .tag-icon {
            width: 12px;
            height: 12px;
          }
        }
      }
    }
  }
</style>
