---
import { Image } from 'astro:assets';
import footLogo from '../assets/theme/icon/footLogo.svg';
const today = new Date();
const footerName = "Astro Blog";
const poweredList = [{ name: 'Astro', url: 'https://astro.build' }];
---

<footer class="container" transition:persist>
  <div class="footer-info">
    <span>© {today.getFullYear()} {footerName} </span>
    <br />
    <span>Powered by
      {poweredList.map((obj, ind) => (
        <>
          <span class="powered-list">
            <a href={obj.url}>{obj.name}</a>
          </span>
          {ind < poweredList.length - 1 ? ' & ' : ''}
        </>
      ))}
    </span>
  </div>
  <div class="footer-logo">
    <Image src={footLogo} alt="logo-vitepress" />
  </div>
</footer>

<style lang="less">
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 72px;
  z-index: 100;
  margin: 50px auto 0;
  padding: 0 16px;
  box-sizing: border-box;
  border-radius: 32px 32px 0 0;
  border-top: solid 2px var(--foreground-color);
  border-left: solid 2px var(--foreground-color);
  border-right: solid 2px var(--foreground-color);
  background: linear-gradient(0.75turn, transparent, var(--foreground-color) 25%),
    var(--triangle-background);
  backdrop-filter: var(--blur-val);
  box-shadow: 0px 0px 8px rgb(var(--blue-shadow-color), 0.8);
}

.footer-info {
  line-height: 1.5;
  font-size: 14px;
  a {
    color: var(--color-blue);
    text-decoration: none;
  }
}

.footer-logo {
  display: flex;
  align-items: center;
  img {
    height: 36px;
    width: auto;
    filter: drop-shadow(0 0 8px #328cfa);
  }
}

@media (max-width: 768px) {
  .footer-info {
    font-size: 12px;
  }
  .footer-logo {
    img {
      height: 26px;
    }
  }
}
</style>
