---
import { Image } from 'astro:assets';
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';
import Header from '../components/Header.astro';
import Banner from '../components/Banner.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<style>
			main {
				width: calc(100% - 2em);
				max-width: 100%;
				margin: 0;
			}
			.hero-image {
				width: 100%;
			}
			.hero-image img {
				display: block;
				margin: 0 auto;
				border-radius: 12px;
				box-shadow: var(--box-shadow);
			}
			.prose {
				width: 720px;
				max-width: calc(100% - 2em);
				margin: auto;
				padding: 1em;
				color: rgb(var(--gray-dark));
			}
			.title {
				margin-bottom: 1em;
				padding: 1em 0;
				text-align: center;
				line-height: 1;
			}
			.title h1 {
				margin: 0 0 0.5em 0;
			}
			.date {
				margin-bottom: 0.5em;
				color: rgb(var(--gray));
			}
			.last-updated-on {
				font-style: italic;
			}
		</style>
	</head>

	<body>
		<Banner isPost={true} coverImage={heroImage}>
			<div class="post-banner">
				<h1 class="title">{title}</h1>
				<span class="status">
					发布于 <FormattedDate date={pubDate} />
					{updatedDate && <span> | 更新于 <FormattedDate date={updatedDate} /></span>}
				</span>
			</div>
		</Banner>
		<Header isPost={true} />
		<main class="container">
			<article class="view-box">
				<div class="prose">
					<slot />
				</div>
			</article>
		</main>
		<Footer />
	</body>
</html>
<style lang="less">
.post-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--post-InnerBanner-color);
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.8);
  z-index: 100;
  transition: color 0.5s;

  .title {
    font-size: 4.5vw;
    margin-bottom: 50px;
    text-align: center;
	margin-top: 0;
	color: white;
  }

  .status {
    font-size: 1vw;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .title {
      font-size: 5vh;
    }
    .status {
      font-size: 1.5vh;
    }
  }
}

.view-box {
  box-sizing: border-box;
  position: relative;
  padding: 36px;
  border-radius: 32px;
  border: solid 2px var(--foreground-color);
  background: var(--foreground-color);
  box-shadow: 0px 0px 8px rgb(var(--blue-shadow-color), 0.8);
  transition: opacity 0.5s ease-out, transform 1s cubic-bezier(0.61, 0.15, 0.26, 1), border 0.5s,
    background 0.5s, box-shadow 0.5s;
  margin-top: 50px;
}

.prose {
  background-image: linear-gradient(90deg, rgba(159, 219, 252, 0.15) 3%, transparent 0),
    linear-gradient(1turn, rgba(159, 219, 252, 0.15) 3%, transparent 0);
  background-size: 20px 20px;
  background-position: 50%;
  color: var(--font-color-grey);

  html[theme='dark'] & {
    background-image: linear-gradient(90deg, rgba(207, 198, 254, 0.08) 3%, transparent 0),
      linear-gradient(1turn, rgba(207, 198, 254, 0.08) 3%, transparent 0);
  }
}
</style>
